body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-image: url("https://github.com/NTIG-Umea/min-sommarberattelse-PTSkAlman/blob/main/background.jpg?raw=true");
    color: rgb(235, 235, 235);
}
main {
    background-color: rgb(20, 20, 20, 0.85);
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.juice, button:focus .txt  {
    display: none;
}
button:focus .juice {
    display: block;
}
.flex {
    display: flex;
}
.button {
    margin-left: 1rem;
    margin-right: 1rem;
}